////////////////* Font *////////////////////
$base_font: sans-serif;
$sub_font: serif;
$ttl_font: serif;

////////////////* Color *////////////////////

// Color
$black: #727171;
$grey: #F2F1F0;
$white: #fff;
$orange: #ec6b17;
$red: #e9455a;
$blue: #2ea7c2;

$main_color: #7E6636;
$sub_color: #2ea7c2;

//base_color
$base_color: $main_color;

//base_font_color
$base_font_color: $black;
$main_font_color: $main_color;
$dark_font_color: $white;

//base_link_color
$base_link_color: $black;
$base_link_color_hover: $orange;

//base_btn_color
$main_btn_color: $red;
$sub_btn_color: $blue;
$main_btn_color_hover: $white;
$sub_btn_color_hover: $white;

$braun_bg_color: $main_color;
$grey_bg_color: $grey;
