//変数////////////////////////////////////

$theme-color: #004E3D;
$base-color: #F4F4EF;
$bg-base: $base-color;
$bg-white: #ffffff;
$bg-footer: $theme-color;
$text-base: $theme-color;
$text-white: #ffffff;
$text-black: #000;
$alert: #FF4848;
