extends _layout.pug

block locals
  - var title = 'Hello Pug!!';

block content
  h1 Hello, Pug!!!
  h2 Hello, Pug!!!
  h3 Hello, Pug!!!
  h4 Hello, Pug!!!
  h5 Hello, Pug!!!
  p あいうえお
  a.btn(href="#") クリック
  img(src="../images/icon.png")
