extends ../_layout.pug

block locals
  - var title = 'ボタンパーツ集';

block content
  .d-fl
    .d-fl__item
      a.btn ボタンをクリック！
    .d-fl__item
      a.btn ボタンをクリック！
    .d-fl__item
      a.btn ボタンをクリック！
    .d-fl__item
      a.btn ボタンをクリック！
    .d-fl__item
      a.btn ボタンをクリック！
    .d-fl__item
      a.btn ボタンをクリック！
    .d-fl__item
      a.btn ボタンをクリック！
    .d-fl__item
      a.btn ボタンをクリック！
    .d-fl__item
      a.btn ボタンをクリック！
